<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Verify Science Plan</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/CreateSciencePlan}">Create Science Plan</a>

            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/TestSciencePlan}">Test Science Plan</a>

            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/VirtualTelescope}">Interactive Observing Operation</a>

            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/SubmitSciencePlan}">Submit Science Plan</a>

            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/ValidateSciencePlan}">Validate Science Plan</a>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>


        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br>
            <br>
            <h1>Verify information</h1>
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:text="'Plan No.: ' + ${SciencePlan.planNo}"></li>
                    <li class="list-group-item" th:text="'Creator: ' + ${SciencePlan.creator}"></li>
                    <li class="list-group-item" th:text="'Submitter: ' + ${SciencePlan.submitter}"></li>
                    <li class="list-group-item" th:text="'Submitter: ' + ${SciencePlan.fundingInUSD}"></li>
                    <li class="list-group-item" th:text="'Objectives: ' + ${SciencePlan.objectives}"></li>
                    <li class="list-group-item" th:text="'Star System: ' + ${SciencePlan.starSystem}"></li>
                    <li class="list-group-item" th:text="'Start Date: ' + ${SciencePlan.startDate}"></li>
                    <li class="list-group-item" th:text="'End Date: ' + ${SciencePlan.endDate}"></li>
                    <li class="list-group-item" th:text="'Status: ' + ${SciencePlan.telescopeLocation}"></li>
                    <li class="list-group-item" th:text="'Status: ' + ${SciencePlan.status}"></li>
                    <li class="list-group-item" th:text="'File Type: ' + ${SciencePlan.fileType}"></li>
                    <li class="list-group-item" th:text="'File Quality: ' + ${SciencePlan. fileQuality}"></li>
                    <li class="list-group-item" th:text="'Color Type: ' + ${SciencePlan.colorType}"></li>
                    <li class="list-group-item" th:text="'Contrast: ' + ${SciencePlan.contrast}"></li>
                    <li class="list-group-item" th:text="'Brightness: ' + ${SciencePlan.brightness}"></li>
                    <li class="list-group-item" th:text="'Saturation: ' + ${SciencePlan.saturation}"></li>
                    <br>
                    <br>
                    <a href="/CreateSciencePlan/confirm" class="btn btn-primary">Confirm</a>
                    <br>
                    <a href="/CreateSciencePlan/delete" class="btn btn-secondary">Cancel</a>
                    <a href="/CreateSciencePlan/update" class="btn btn-secondary">Update</a>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>